model_config_list {
  config {
    name: 'potato_model'
    base_path: '/models/potato/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'tomato_model'
    base_path: '/models/tomato/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'bell_pepper_model'
    base_path: '/models/bell_pepper/'
    model_platform: 'tensorflow'
  }
}